{% extends 'default.html' %}

{% block title %}
Confirmation Sign Up
{% endblock title %}

{% block content %}
    {% if user.is_active %}
        <p>&nbsp;</p>
        <h4>{{ user.username }}, вы уже зарегистрированы!</h4>
        <hr>
        <p>&nbsp;</p>
        <a href="{% url 'profile_user' pk=user.id %}">Ваш профиль</a>
    {% else %}
        <p>&nbsp;</p>
        <h4>Подтверждение регистрации</h4>
        <hr>
        <p>&nbsp;</p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="mt-3 btn-primary" value="Подтвердить">
        </form>
    {% endif %}
{% endblock content %}