{% extends 'default.html' %}

{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}
 
{% block content %}
    <h4>Объявления</h4>
    <h6>показано {{ posts|length }} из {{ paginator.count }}</h6>
    <hr>
    {% if posts %}
        <center><table>
            <tr>
                <td>Объявление</td>
                <td>&emsp;</td>
                <td>Категория</td>
                <td>&emsp;</td>
                <td>Автор</td>
                <td>&emsp;</td>
                <td>Содержание</td>
                <td>&emsp;</td>
                <td>Опубликовано</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{{ post.pk }}">{{ post.title|upper }}</a></td>
                <td>&emsp;</td>
                <td><a href="{{ post.pk }}">{{ post.get_category_display }}</a></td>
                <td>&emsp;</td>
                <td><a href="{{ post.pk }}">{{ post.author }}</a></td>
                <td>&emsp;</td>
                <td><a href="{{ post.pk }}">{{ post.preview }}</a></td>
                <td>&emsp;</td>
                <td>{{ post.time_in|date:'M d Y' }}</td>
            </tr>
            {% endfor %}
        </table></center>
    {% else %}
        <h6>Отсутствие объявлений - это вообще не новость!</h6>
    {% endif %}
    <p>&nbsp;</p>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number != 2 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            {% if paginator.num_pages != page_obj.next_page_number|add:1 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    <hr>
    <form action="" method="get">
            {% csrf_token %}
            {{ filterset.form.as_p }}
            <input type="submit" class="mt-3 btn-primary" value="Найти" />
    </form>
{% endblock content %}
